@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Bangers');

html, body {
  font-family: 'Bangers', 'Open Sans', 'Helvetica';
  background: #000000;
}

h1, h2, h3, h4 {
  font-family: 'Bangers', 'Open Sans', 'Helvetica';
}

.top-bar ul li > a{
  font-family: 'Bangers', 'Open Sans', 'Helvetica';
}

.share-button {
  text-align: center;
}

iframe[id^='twitter-widget-'] {
  width: 100% !important;
}

.timeline {
  border-radius: 0 !important;
}

.fb-like-box iframe {
  width: 100% !important;
  height: 100%! important;
  z-index: 1;
}

.no-pad-right {
  padding-right: 0;
}

.centered{
  text-align: center;
}

.secondary-btn{
  background: #333;
}

.top-bar{
  background: #333;
}

.custom-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg:#000000,
    // Sets the panel padding amount. Default: $panel-padding
  $padding:50px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust:true
  );
  min-height: 100%! important;
  text-align: center;
}

footer {
  z-index: 999;
}