@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Bangers');

body {
  font-family: 'Bangers', 'Open Sans', 'Helvetica';
  background-size: 20% auto, 20% auto;
}

h1, h2, h3, h4 {
  font-family: 'Bangers', 'Open Sans', 'Helvetica';
}

.top-bar-section ul li > a{
  font-family: 'Bangers', 'Open Sans', 'Helvetica';
}

#main-comic {
  padding: 0 0 70px 0;
}

#main-comic img {
  text-align: center;
}

.share-button {
  text-align: center;
}

iframe[id^='twitter-widget-'] {
  width: 100% !important;
}

.timeline {
  border-radius: 0 !important;
}

.fb-like-box iframe {
  width: 100% !important;
  height: 100%! important;
  z-index: 1;
}

.no-pad-right {
  padding-right: 0;
}

.centered{
  text-align: center;
}

.secondary-btn{
  background: #333;
}

footer {
  z-index: 999;
}