<section class="main-section" >
    <div class="row main">
        <div class="large-12 small-12 columns">
            <div class="comics">
                <div>
                    <h4>"Test" posted on 22-10-2014</h4>
                    <img src="http://placehold.it/1000x1000&text=[1]"/>
                </div>
                <div>
                    <h4>"Test2" posted on 22-10-2014</h4>
                    <img data-lazy="http://placehold.it/1000x1000&text=[2]"/>
                </div>
                <div>
                    <h4>"Test3" posted on 22-10-2014</h4>
                    <img data-lazy="http://placehold.it/1000x1000&text=[3]"/>
                </div>
            </div>
        </div>

    </div>
</section>