<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="../stylesheets/app.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../bower_components/modernizr/modernizr.js"></script>

</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">Foundation</h1>
            </section>

            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <ul class="off-canvas-list">
                    <li><label>Menu</label></li>
                    <li><a href="/"><i class="fa fa-meh-o fa-fw"></i>&nbsp;Comics</a></li>
                    <li><a href="/toon.html"><i class="fa fa-video-camera fa-fw"></i>&nbsp;Toons</a></li>
                    <li><a href="/news.html"><i class="fa fa-home fa-fw"></i>&nbsp;News</a></li>
                    <li><a href="/contact.html"><i class="fa fa-comments-o fa-fw"></i>&nbsp;Contact</a></li>
                </ul>
            </ul>
        </aside>

        <aside class="right-off-canvas-menu"><i class="fa fa-angle-double-left fa-lg"></i>
            <ul class="off-canvas-list">
                <li><label>Users</label></li>
                <li><a href="#">Hari Seldon</a></li>
                <li><a href="#">...</a></li>
            </ul>
        </aside>

        <section class="main-section">
<div class="row main">
    <div class="large-9 medium-9 small-12 columns">
        <div class="row">
            <div class="row">
                <a class="twitter-timeline" href="https://twitter.com/Lol_GH"
                   data-widget-id="514071101291249665"
                   data-tweet-limit="8"></a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>


</div>

        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>
<footer>

</footer>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/foundation/js/foundation.min.js"></script>
<script src="../js/jquery.touchSwipe.min.js"></script>
<script src="../js/app.js"></script>
</body>
</html>
